* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/* ヘッダー */
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.heading {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.logo {
  height: 70px;
}

.navi {
  display: flex;
}

.nav-list {
  width: 120px;
  line-height: 70px;
  color: #fafafa;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

.nav-list a {
  color: #fafafa;
}

/* メインビジュアル */
.main-visual {
  width: 100%;
  height: 650px;
  background-color: red;
}

/* メイン */
main {
  width: 100%;
  height: 1000px;
  background-color: blue;
}

/* フッター */
footer {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #ec715f;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
}
